// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
a {
    font-family: "Libre Baskerville", serif;
}

p {
    font-family: "Arial, Helvetica", sans-serif;
}

.navbar-brand {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}
#app {
    .bg-dark {
        background-color: #333 !important;
    }
}

.author-img {
    img {
        display: block;
        margin: auto;
        width: 100%;

        @media (min-width: 768px) and (max-width: 768px) {
            text-align: center;
            width: auto;
        }
        @media (min-width: 1400px) {
            text-align: center;
            width: auto;
        }
    }
}

//Hero in Front page
.jumbotron {
    background-image: url("/images/light-hands-woman-books-34084.jpg");
    background-size: cover;
    color: #ffffff;
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;

    .container {
        padding-top: 80px;

        h2 {
            font-size: 2.8rem;
        }
        p {
            font-size: 1.5rem;
            font-style: italic;
        }

        @media (max-width: 768px) {
            padding-top: 70px;

            h2 {
                font-size: 2.38rem;
            }

            p {
                font-size: 1.3rem;
            }
        }

        @media (min-width: 320px) and (max-width: 767.98px) {
            padding-top: 60px;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    hr {
        background-color: #61ce70;
        border-width: 2px;
    }
}

//Hero in Books page
.hero-books {
    background-image: url("/images/brown-book-page-1112048.jpg");
    background-size: cover;
    color: #ffffff;
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;

    .container {
        padding-top: 80px;

        h2 {
            font-size: 2.8rem;
        }
        p {
            font-size: 1.5rem;
            font-style: italic;
        }

        @media (max-width: 768px) {
            padding-top: 70px;

            h2 {
                font-size: 2.38rem;
            }

            p {
                font-size: 1.3rem;
            }
        }

        @media (min-width: 320px) and (max-width: 767.98px) {
            padding-top: 60px;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    hr {
        background-color: #61ce70;
        border-width: 2px;
    }
}

//Button heart for favourites
.btn-fav {
    text-align: center;
    padding: 10px 0 5px 0;
    cursor: pointer;

    .fa-heart {
        color: red;
    }
}

//Edit and delete button style
.btn-actions {
    display: inline-flex;

    i {
        cursor: pointer;
    }
    .btn {
        margin-right: 5px;
    }
}

//Create button style
.btn-create {
    width: 100%;
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;

    &:hover {
        background-color: #28a745;
        border-color: #28a745;
    }
}

.card-body {
    a {
        color: #343a40;
        text-decoration: none;

        &:hover {
            color: #28a745;
        }
    }
}

//Book title style
.book-name,
.author-name,
.genre-name {
    a {
        color: #343a40;
        text-decoration: none;

        &:hover {
            color: #28a745;
        }
    }
}

// Vertical alignn text in table
.table {
    td {
        vertical-align: middle;
    }
}

.pagination-blocks {
    ul {
        justify-content: center !important;
    }

    .active {
        span {
            background-color: #38c172 !important;
            border-color: #38c172 !important;
            color: #fff;
        }
    }

    button,
    a {
        color: #38c172;
    }
    @media (max-width: 767.98px) {
        button,
        a {
            background-color: #38c172 !important;
            color: #fff !important;
        }
    }
}

// Footer
footer {
    background: linear-gradient(#333, #5b5b5b);
}

.footer-menu {
    .row {
        width: 100%;
    }

    hr {
        text-align: center;
        width: 75%;
        border-color: #cecece;
    }

    h3,
    a {
        color: #cecece;
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
        h3 {
            margin: 25px 0 5px 0;
        }
    }

    .social-wrapper {
        .fa {
            color: #cecece;
        }
    }
}

.card-block {
    h3 {
        font-size: 1.2rem;
    }
}
